@model MyCarForSale.Core.DTOs.UserAccountEntityDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="flex flex-row my-10">
    <div class="flex flex-col items-start p-6">
        <div class="w-full flex flex-row justify-start">
            <div class="w-12 h-12 rounded-full bg-gray-200 text-gray-700 text-xl font-semibold flex mx-3 justify-start align-middle">
                <label class="m-auto">@Model.Name.First()@Model.Surname.First()</label>@*First Name, first keyword and last name, first keyword*@
            </div>
            <label class="flex my-auto align-middle font-semibold text-gray-700 text-lg">@Model.Name</label>
        </div>

        <div class="flex flex-col items-start">
            <button class="group flex items-center font-semibold w-full transition-all p-1 text-left mt-3 pr-44 hover:text-blue-500 text-blue-500">
                <svg class="pr-2 fill-blue-500 group-hover:fill-blue-500 group-focus:fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                    <path d="M20,6h-7.172c-0.53,0-1.039-0.211-1.414-0.586l-0.828-0.828C10.211,4.211,9.702,4,9.172,4H4C2.9,4,2,4.9,2,6v12 c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V8C22,6.9,21.1,6,20,6z M12,9c1.105,0,2,0.895,2,2c0,1.105-0.895,2-2,2s-2-0.895-2-2 C10,9.895,10.895,9,12,9z M15.5,17h-7C8.224,17,8,16.776,8,16.5V16c0-1.33,2.665-2,4-2s4,0.67,4,2v0.5C16,16.776,15.776,17,15.5,17z"/>
                </svg>
                My Account
            </button>
            <a asp-action="AccountAddressPage" asp-controller="Account" class="group flex items-center font-semibold text-gray-600 w-full transition-all p-1 text-left mt-3 pr-44 hover:text-blue-500">
                <svg class="pr-2 fill-[#4B5563] group-hover:fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                    <path d="M12 1C8.686 1 6 3.686 6 7C6 10.323 9.6065625 15.105891 11.226562 17.087891C11.627562 17.577891 12.370484 17.577891 12.771484 17.087891C14.392484 15.105891 18 10.323 18 7C18 3.686 15.314 1 12 1 z M 12 4.8574219C13.184 4.8574219 14.142578 5.816 14.142578 7C14.142578 8.183 13.183 9.1425781 12 9.1425781C10.817 9.1425781 9.8574219 8.184 9.8574219 7C9.8574219 5.816 10.816 4.8574219 12 4.8574219 z M 6.9941406 15.564453C6.9172363 15.56473 6.8383906 15.574375 6.7597656 15.59375C3.9047656 16.29875 2 17.56 2 19C2 21.209 6.477 23 12 23C17.523 23 22 21.209 22 19C22 17.56 20.095234 16.299703 17.240234 15.595703C16.611234 15.440703 16 15.926219 16 16.574219C16 17.028219 16.302187 17.433969 16.742188 17.542969C18.547187 17.990969 19.644219 18.612047 19.949219 18.998047C19.434219 19.653047 16.694 20.998047 12 20.998047C7.306 20.998047 4.5657813 19.653047 4.0507812 18.998047C4.3547813 18.611047 5.4528125 17.990969 7.2578125 17.542969C7.6978125 17.434969 8 17.028219 8 16.574219C8 16.006344 7.5324707 15.562512 6.9941406 15.564453 z"/>
                </svg>
                My Address
            </a>
            <a asp-action="AccountPasswordPage" asp-controller="Account" class="group flex items-center font-semibold text-gray-600 w-full transition-all p-1 text-left mt-3 pr-44 hover:text-blue-500">
                <svg class="pr-2 fill-[#4B5563] group-hover:fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                    <path d="M12 1C8.6761905 1 6 3.6761905 6 7L6 9.7207031C4.7585397 11.130211 4 12.97425 4 15C4 19.418 7.582 23 12 23C16.418 23 20 19.418 20 15C20 12.97425 19.24146 11.130211 18 9.7207031L18 7C18 3.6761905 15.32381 1 12 1 z M 12 3C14.27619 3 16 4.7238095 16 7L16 8.0800781C14.822119 7.3974831 13.459229 7 12 7C10.540771 7 9.1778813 7.3974831 8 8.0800781L8 7C8 4.7238095 9.7238095 3 12 3 z M 12.041016 12.001953C13.122078 12.023432 14 12.91325 14 14C14 14.735 13.594 15.372703 13 15.720703L13 18C13 18.552 12.552 19 12 19C11.448 19 11 18.552 11 18L11 15.720703C10.274 15.295703 9.8285 14.437047 10.0625 13.498047C10.2415 12.781047 10.843406 12.200875 11.566406 12.046875C11.727156 12.0125 11.886578 11.998885 12.041016 12.001953 z"/>
                </svg>
                Change Password
            </a>
            <a asp-action="ListPage" asp-controller="MyCars" class="mx-auto flex justify-center items-center font-semibold w-full p-1 text-left bg-blue-500 hover:bg-blue-400 active:bg-blue-600 text-white rounded-lg mt-12">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48">
                    <path d="M11.375 4.03125C9.644531 4.085938 7.160156 4.734375 3.375 6.65625L4.28125 8.4375C8.433594 6.328125 10.789063 5.949219 11.9375 6.03125C12.511719 6.070313 12.789063 6.210938 12.9375 6.3125C12.976563 6.339844 12.976563 6.355469 13 6.375L13 9L10.90625 9C10.015625 9 9.175781 9.433594 8.65625 10.15625L6.625 13L4 13L4 15L5.1875 15L5.03125 15.21875C4.355469 16.164063 4 17.304688 4 18.46875L4 24C4 24.03125 4 24.0625 4 24.09375L4 26C4 26.550781 4.449219 27 5 27L8 27L8.5 25.5C8.859375 25.542969 9.230469 25.582031 9.625 25.625L9.71875 25.71875L9.78125 25.65625C11.605469 25.847656 13.710938 26 16 26C18.289063 26 20.394531 25.847656 22.21875 25.65625L22.28125 25.71875L22.375 25.625C22.769531 25.582031 23.140625 25.542969 23.5 25.5L24 27L27 27C27.550781 27 28 26.550781 28 26L28 24.125C28.003906 24.082031 28.003906 24.042969 28 24L28 18.46875C28 17.304688 27.644531 16.164063 26.96875 15.21875L26.8125 15L28 15L28 13L25.375 13L23.34375 10.15625C22.824219 9.433594 21.984375 9 21.09375 9L19 9L19 6.375C19.023438 6.355469 19.023438 6.339844 19.0625 6.3125C19.210938 6.210938 19.488281 6.070313 20.0625 6.03125C21.210938 5.949219 23.566406 6.328125 27.71875 8.4375L28.625 6.65625C24.300781 4.457031 21.6875 3.90625 19.9375 4.03125C19.0625 4.09375 18.394531 4.339844 17.9375 4.65625C17.480469 4.972656 17.191406 5.382813 17.15625 5.4375L17 5.6875L17 9L15 9L15 5.6875L14.84375 5.4375C14.808594 5.382813 14.519531 4.972656 14.0625 4.65625C13.605469 4.339844 12.9375 4.09375 12.0625 4.03125C11.84375 4.015625 11.621094 4.023438 11.375 4.03125 Z M 10.90625 11L21.09375 11C21.339844 11 21.574219 11.109375 21.71875 11.3125L22.9375 13L9.0625 13L10.28125 11.3125C10.425781 11.109375 10.660156 11 10.90625 11 Z M 7.65625 15L24.34375 15L25.0625 16C25.042969 16 25.019531 15.996094 25 16C21.8125 16.515625 22 17 22 17C22 17 22.339844 17.492188 22.9375 17.84375C23.28125 18.046875 23.710938 18.019531 24.03125 18C24.351563 17.980469 25.023438 17.925781 25.875 17.84375C25.90625 17.839844 25.910156 17.816406 25.9375 17.8125C25.976563 18.027344 26 18.25 26 18.46875L26 23.125C25.277344 23.238281 24.199219 23.378906 22.96875 23.53125L20.71875 21.28125L20.40625 21L11.59375 21L11.28125 21.28125L9.03125 23.53125C7.800781 23.378906 6.722656 23.238281 6 23.125L6 18.46875C6 18.25 6.023438 18.027344 6.0625 17.8125C6.089844 17.816406 6.09375 17.839844 6.125 17.84375C6.976563 17.925781 7.648438 17.980469 7.96875 18C8.289063 18.019531 8.71875 18.046875 9.0625 17.84375C9.660156 17.492188 10 17 10 17C10 17 10.1875 16.515625 7 16C6.980469 15.996094 6.957031 16 6.9375 16 Z M 11 17L11 19L21 19L21 17 Z M 12.4375 23L19.5625 23L20.375 23.8125C19.035156 23.921875 17.59375 24 16 24C14.40625 24 12.964844 23.921875 11.625 23.8125Z" fill="#FFFFFF"/>
                </svg>
                <div class="pl-3 pr-24">
                    My Vehicle Ads
                </div>
            </a>
        </div>
    </div>
    <div class="pr-72">
        <div class="w-[500px] max-w-md">
            <form id="deleteForm" asp-controller="User" asp-action="DeleteUser" method="post" class="mb-4 rounded bg-white outline outline-2 outline-[#A4CAFE] px-8 pb-8">
                <div class="flex justify-center m-auto h-16 pt-6  text-2xl font-bold text-gray-700">User Information</div>
                <div class="mb-4">
                    <label asp-for="Email" class="mb-2 block font-bold text-gray-500"> Email </label>
                    <input asp-for="Email" class="block w-full appearance-none rounded border px-3 py-2 text-sm leading-tight text-gray-700 outline outline-2 outline-gray-200 focus:outline-none" type="email" placeholder="Email" value="@Model.Email" disabled/>
                </div>
                <span asp-validation-for="Email" class="text-red-600 font-semibold"></span>

                <div class="-mx-3 mb-6 flex flex-wrap">
                    <div class="mb-6 w-full px-3 md:mb-0 md:w-1/2">
                        <label asp-for="Name" class="mb-2 block font-bold text-gray-500"> Name </label>
                        <input asp-for="Name" class="w-full appearance-none rounded border px-3 py-2 text-sm leading-tight text-gray-700 outline outline-2 outline-gray-200 focus:outline-none" type="text" placeholder="Name" value="@Model.Name"/>
                    </div>
                    <span asp-validation-for="Name" class="text-red-600 font-semibold"></span>

                    <div class="w-full px-3 md:w-1/2">
                        <label asp-for="Surname" class="mb-2 block font-bold text-gray-500"> Surname </label>
                        <input asp-for="Surname" class="w-full appearance-none rounded border px-3 py-2 text-sm leading-tight text-gray-700 outline outline-2 outline-gray-200 focus:outline-none" type="text" placeholder="Surname" value="@Model.Surname"/>
                    </div>
                    <span asp-validation-for="Surname" class="text-red-600 font-semibold"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Birthday" class="mb-2 block font-bold text-gray-500"> Birthday </label>
                    <input asp-for="Birthday" class="w-full appearance-none rounded border px-3 py-2 text-sm leading-tight text-gray-700 outline outline-2 outline-gray-200 focus:outline-none" id="birthday" name="birthday" type="text"/>
                </div>
                <span asp-validation-for="Birthday" class="text-red-600 font-semibold"></span>
                <div class="mb-4">
                    <label asp-for="PhoneNumber" class="mb-2 block font-bold text-gray-500"> Phone Number </label>
                    <input asp-for="PhoneNumber" class="w-full appearance-none rounded border px-3 py-2 text-sm leading-tight text-gray-700 outline outline-2 outline-gray-200 focus:outline-none" type="text" placeholder="Phone Number" value="@Model.PhoneNumber"/>
                </div>
                <span asp-validation-for="PhoneNumber" class="text-red-600 font-semibold"></span>

                <button type="submit" asp-controller="Account" asp-action="AccountDetailsUpdate" class="mx-auto mb-6 flex justify-center rounded-lg bg-green-600 px-32 py-2 font-semibold text-white hover:bg-green-800">Update</button>
                <hr class="mb-6"/>
                <button type="button" id="deleteButton" class="mx-auto flex justify-center rounded-lg bg-red-600 px-32 py-2 font-semibold text-white hover:bg-red-800">Delete Account</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", pageReady);
  function pageReady() {
    document.getElementById("birthday").value = @Model.Birthday.Day+"."+@Model.Birthday.Month+"."+@Model.Birthday.Year;
  }

  document.getElementById("deleteButton").addEventListener("click", function () {
     Swal.fire({
     title: "Are you sure?",
     text: "At the end of this process, your membership will be deleted. If you confirm, you cannot get it back.",
     icon: 'warning',
     showCancelButton: true,
     confirmButtonColor: '#d33',
     cancelButtonColor: '#3085d6',
     confirmButtonText: 'Yes, Delete!',
     cancelButtonText: 'Cancel'               
     }).then((result) => {
         if (result.isConfirmed) {
             document.getElementById("deleteForm").submit();         
         }
     }) 
  });
  
</script>