@using MyCarForSale.Web.Controllers
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MyCarForSale.Core.DTOs.CarFeaturesWithImageAndClassificationAndUserAccountDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";


    var images = new List<string>();
    foreach (var imageItem in Model.CarImagesEntities)
    {
        images.Add(imageItem.CarImageUrl);
    }
}
<div class="container mx-auto flex flex-row justify-around">
    <div class="hidden md:flex md:flex-col relative max-w-72 min-w-72">
        <div class="flex flex-row justify-start">
            <div class="m-2.5 flex h-12 w-12 justify-start rounded-full bg-gray-200 align-middle text-xl font-bold text-gray-700">
                <label class="m-auto">@Model.UserAccountEntityName.First()@Model.UserAccountEntitySurname.First()</label>
            </div>
            <label class="my-auto flex align-middle text-lg font-semibold text-gray-700">@Model.UserAccountEntityName</label>
        </div>

        <div class="grid grid-cols-2 gap-4 h-auto rounded-lg bg-gray-200 p-5 mb-5">
            <div class="font-semibold">Phone:</div>
            <div>@Model.UserAccountEntityPhoneNumber</div>
            <div class="font-semibold">Country:</div>
            <div>@Model.UserAccountEntityCountry</div>
            <div class="font-semibold">Province:</div>
            <div>@Model.UserAccountEntityProvince</div>
            <div class="font-semibold">District:</div>
            <div>@Model.UserAccountEntityDistrict</div>
            <div class="font-semibold">Zip Code:</div>
            <div>@Model.UserAccountEntityZipCode</div>
        </div>
        <div class="mb-5">
            @if (UserController.TokenKey != null)
            {
                <form method="post">
                    <input type="hidden" name="carId" value="@Model.Id"/>
                    <button type="submit" asp-controller="Favorites" asp-action="AddFavorites" class="h-[4.5rem] grid grid-cols-3 gap-4 rounded-lg bg-blue-500 text-white font-semibold w-full">
                        <div class="h-full flex justify-end items-center">
                            <div class="bg-gray-100 rounded-full p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                                    <path d="M12 16.026L7.675 18.637 8.823 13.717 5 10.405 10.029 9.978 12 5.327 13.971 9.978 19 10.405 15.177 13.717 16.325 18.637z" opacity=".8" fill="#FFA200"></path>
                                    <path d="M23.053,9.002l-7.947-0.674L12,1L8.894,8.328L0.947,9.002l6.035,5.228L5.169,22L12,17.877L18.831,22l-1.813-7.77L23.053,9.002z M12,15.541l-3.806,2.297l1.01-4.33L5.84,10.594l4.425-0.375L12,6.125l1.735,4.094l4.425,0.375l-3.364,2.915l1.01,4.33L12,15.541z" fill="#FEC50E"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="h-full col-span-2 flex justify-start items-center">Add Favorites</div>
                    </button>
                </form>
            }
            else
            {
                <a asp-controller="User" asp-action="LoginAccountPage" class="h-[4.5rem] grid grid-cols-3 gap-4 rounded-lg bg-blue-500 text-white font-semibold w-full">
                    <div class="h-full flex justify-end items-center">
                        <div class="bg-gray-100 rounded-full p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                                <path d="M12 16.026L7.675 18.637 8.823 13.717 5 10.405 10.029 9.978 12 5.327 13.971 9.978 19 10.405 15.177 13.717 16.325 18.637z" opacity=".8" fill="#FFA200"></path>
                                <path d="M23.053,9.002l-7.947-0.674L12,1L8.894,8.328L0.947,9.002l6.035,5.228L5.169,22L12,17.877L18.831,22l-1.813-7.77L23.053,9.002z M12,15.541l-3.806,2.297l1.01-4.33L5.84,10.594l4.425-0.375L12,6.125l1.735,4.094l4.425,0.375l-3.364,2.915l1.01,4.33L12,15.541z" fill="#FEC50E"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="h-full col-span-2 flex justify-start items-center">Add Favorites</div>
                </a>
            }
        </div>
        <div class="rounded-lg p-2 bg-white  shadow-[0px_0px_5px_5px] shadow-gray-500/20 mb-5">
            <button id="baseButton" onclick="baseButtonClick()" class="h-14 rounded-lg flex items-center justify-between border-none w-full p-4 text-black cursor-pointer text-lg font-semibold">
                <span>Base</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32">
                        <path d="M57.236 18.127L32 40.41 6.764 18.127 4.036 21.051 29.953 46.604 32 48.622 34.047 46.604 59.964 21.051z" fill="#000000"/>
                    </svg>
                </span>
            </button>
            <div id="baseButtonDiv" style="display: none;" class="origin-top-right right-0 mt-2 rounded-lg">
                <div class="grid grid-cols-2 gap-4 text-black text-sm">
                    <div class="font-semibold text-end">Category:</div>
                    <div>@Model.MainClassificationEntityMainClassification</div>
                    <div class="font-semibold text-end">Brand:</div>
                    <div>@Model.MainClassificationEntityCarBrand</div>
                    <div class="font-semibold text-end">Model:</div>
                    <div>@Model.MainClassificationEntityCarModel</div>
                    <div class="font-semibold text-end">Package:</div>
                    <div>@Model.MainClassificationEntityCarPackage</div>
                    <div class="font-semibold text-end">Year:</div>
                    <div>@Model.MainClassificationEntityCarYear</div>
                    <div class="font-semibold text-end">Km:</div>
                    <div>@Model.CarTotalKm</div>
                </div>
            </div>
        </div>

        <div class="rounded-lg p-2 bg-white  shadow-[0px_0px_5px_5px] shadow-gray-500/20 mb-5">
            <button id="detailsButton" onclick="detailsButtonClick()" class="h-14 rounded-lg flex items-center justify-between border-none w-full p-4 text-black cursor-pointer text-lg font-semibold">
                <span>Details</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32">
                        <path d="M57.236 18.127L32 40.41 6.764 18.127 4.036 21.051 29.953 46.604 32 48.622 34.047 46.604 59.964 21.051z" fill="#000000"/>
                    </svg>
                </span>
            </button>
            <div id="detailsButtonDiv" style="display: none;" class="origin-top-right right-0 mt-2 rounded-lg">
                <div class="grid grid-cols-2 gap-4 text-black text-sm">
                    <div class="font-semibold text-end">Capacity:</div>
                    <div>@Model.EngineDisplacement</div>
                    <div class="font-semibold text-end">Power:</div>
                    <div>@Model.EngineHorsePower</div>
                    <div class="font-semibold text-end">Torque:</div>
                    <div>@Model.EngineTorque</div>
                    <div class="font-semibold text-end">Drivetrain:</div>
                    <div>@Model.CarDrivetrain</div>
                    <div class="font-semibold text-end">Transmission:</div>
                    <div>@Model.TransmissionType</div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <main class="flex flex-col gap-5 snap-y snap-mandatory snap-always overflow-y-scroll max-h-[44rem]">
            @if (images.Any())
            {
                foreach (var image in images)
                {
                    <section class="snap-start mb-5 flex m-auto justify-center w-4/5">
                        <img class="rounded-lg shadow-md shadow-black" src="@image" alt="Image could not be loaded."/>
                    </section>
                }
            }
            else
            {
                <section class="snap-start mb-5 flex mx-auto justify-center w-4/5">
                    <img class="rounded-lg shadow-md shadow-black" src="https://img.freepik.com/free-photo/empty-parking-lot-parking-lane-outdoor-public-park_1127-3374.jpg" alt="Image could not be loaded."/>
                </section>
            }
        </main>
        <div class="rounded-lg p-2 bg-white  shadow-[0px_0px_5px_5px] shadow-gray-500/20 my-5 mx-32">
            <button class="grid grid-cols-6 rounded-lg w-full" id="advertisementButton" onclick="advertisementButtonClick()">
                <div class="col-span-4 h-14 flex justify-between items-center rounded-l-xl text-l tracking-wide font-bold px-5">
                    <div class="flex items-center">
                        <div class="text-blue-700 text-4xl">#</div>
                        <div> @Model.AdvertisementName</div>
                    </div>
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32">
                            <path d="M57.236 18.127L32 40.41 6.764 18.127 4.036 21.051 29.953 46.604 32 48.622 34.047 46.604 59.964 21.051z" fill="#000000"/>
                        </svg>
                    </div>
                </div>
                <div class="col-span-2 h-14 rounded-r-xl">
                    <div class="h-full flex justify-center items-center bg-yellow-500 rounded-lg text-2xl font-bold">@Model.Price.ToString("#,#", CultureInfo.InvariantCulture).Replace(",", ".") TL</div>
                </div>
            </button>
            <div id="advertisementButtonDiv" style="display: none;" class="origin-top-right right-0 rounded-lg m-5">
                <div class="flex justify-start text-xl font-semibold tracking-wide">
                    @Model.AdvertisementDescription
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const divBase = document.getElementById("baseButtonDiv");
    const buttonBase = document.getElementById("baseButton");
    
    const divDetails = document.getElementById("detailsButtonDiv");
    const buttonDetails = document.getElementById("detailsButton");
    
    const divAdvertisement = document.getElementById("advertisementButtonDiv");
    const buttonAdvertisement = document.getElementById("advertisementButton");
    
    function detailsButtonClick() {
        if (divDetails.style.display === "none") {
            divDetails.style.display = "block";
            buttonDetails.style.backgroundColor = "#E5E7EB";
        }
        else {
            divDetails.style.display = "none";
            buttonDetails.style.backgroundColor = "#FFFFFF";           
        }
    }
    
    function baseButtonClick() {
        if (divBase.style.display === "none") {
            divBase.style.display = "block";
            buttonBase.style.backgroundColor = "#E5E7EB";
        }
        else {
            divBase.style.display = "none";
            buttonBase.style.backgroundColor = "#FFFFFF";
        }
    }
    
    function advertisementButtonClick() {
        if (divAdvertisement.style.display === "none") {
            divAdvertisement.style.display = "block";
            buttonAdvertisement.style.backgroundColor = "#E5E7EB";
        }
        else {
            divAdvertisement.style.display = "none";
            buttonAdvertisement.style.backgroundColor = "#FFFFFF";
        }
    }
</script>