@using System.Globalization
@model MyCarForSale.Web.Controllers.MyViewModel
@{
    ViewData["Title"] = "Home Page";

    var carFeaturesAllIds = Model.CarFeatures.Select(p => p.Id).ToList();
    var json = Json.Serialize(carFeaturesAllIds);
}

<div class="container mx-auto flex flex-row justify-around">
    <div class="hidden md:flex flex-col relative">
        <div class="max-h-[80vh] min-h-[80vh] rounded-lg bg-blue-500 sticky top-5 flex flex-col flex-nowrap justify-between">
            @*
            Side Panel
            *@
            @foreach (var item in Model.MainClassification)
            {
                var paddingY = 18 / Model.MainClassification.Count;
                if (Model.MainClassification.Count > 6)
                {
                    paddingY = (int)1.5;
                    if (Model.MainClassification.Count > 17)
                    {
                        paddingY = 0;
                    }
                    else if (Model.MainClassification.Count > 10)
                    {
                        paddingY = (int)0.5;
                    }
                }
                
                <a asp-page='/@item'
                        style="padding-top: @(paddingY)rem; padding-bottom: @(paddingY)rem;"
                        class="flex justify-center align-middle m-0 px-36 text-center text-white font-semibold text-lg rounded-lg  hover:bg-blue-600 hover:cursor-pointer">
                    @item
                </a>
            }
        </div>
        <div class="my-[10vh]"></div>
        <div class="min-h-[5vh] sticky top-[85vh]">
            <a href="#" class="flex justify-center">
                <svg class="h-10 mr-3" width="51" height="70" viewBox="0 0 51 70" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M1 53H27.9022C40.6587 53 51 42.7025 51 30H24.0978C11.3412 30 1 40.2975 1 53Z" fill="#76A9FA"></path><path d="M-0.876544 32.1644L-0.876544 66.411C11.9849 66.411 22.4111 55.9847 22.4111 43.1233L22.4111 8.87674C10.1196 8.98051 0.518714 19.5571 -0.876544 32.1644Z" fill="#A4CAFE"></path><path d="M50 5H23.0978C10.3413 5 0 15.2975 0 28H26.9022C39.6588 28 50 17.7025 50 5Z" fill="#1C64F2"></path></g><defs><clipPath id="clip0"><rect width="51" height="70" fill="white"></rect></clipPath></defs></svg>
                <span class="self-center text-lg font-semibold whitespace-nowrap">MyCarForSale</span>
            </a>
        </div>
    </div>
    <div class="flex-col text-center mx-5">
        <table id="myTable">
            <thead>
                <tr class="sticky top-0 backdrop-blur-sm mix-blend-multiply bg-blue-400">
                    <th class=" mx-auto py-4 px-24 whitespace-nowrap"></th>
                    <th class="mx-auto py-4 px-10 whitespace-nowrap">Ad Title</th>
                    @*<th class="mx-auto py-4 px-8 whitespace-nowrap">Description</th>*@
                    <th onclick="sortTable(3)" class="mx-auto py-4 px-8 whitespace-nowrap hover:cursor-pointer">Price</th>
                    @*<th class="mx-auto py-4 px-8 whitespace-nowrap">Drivetrain</th>*@
                    @*<th class="mx-auto py-4 px-8 whitespace-nowrap">Horse Power</th>*@
                    @*<th class="mx-auto py-4 px-8 whitespace-nowrap">Torque</th>*@
                    <th onclick="sortTable(4)" class="mx-auto py-4 px-8 whitespace-nowrap hover:cursor-pointer">Displacement</th>
                    <th onclick="sortTable(5)" class="mx-auto py-4 px-8 whitespace-nowrap hover:cursor-pointer">Transmission</th>
                    <th onclick="sortTable(6)" class="mx-auto py-4 px-8 whitespace-nowrap hover:cursor-pointer">Car Brand</th>
                    <th onclick="sortTable(7)" class="mx-auto py-4 px-8 whitespace-nowrap hover:cursor-pointer">Car Model</th>
                    <th onclick="sortTable(8)" class="mx-auto py-4 px-8 whitespace-nowrap hover:cursor-pointer">Car Package</th>
                    <th onclick="sortTable(9)" class="mx-auto py-4 px-8 whitespace-nowrap hover:cursor-pointer">Car Year</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.CarFeatures)
            {
                <tr id="row-@item.Id" onclick="rowClick('@item.Id')" class="max-h-4 w-auto even:bg-blue-100 odd:bg-white hover:bg-blue-50 hover:cursor-pointer">
                    <td class="hidden"><a id="CarDetailsHref_@item.Id" class=" decoration-0" asp-area="" asp-controller="Home" asp-action="CarId" asp-route-id="@item.Id">Giriş</a></td>
                    <td class="">
                        @if (item.CarImagesEntities.Count != 0)
                        {
                            @foreach (var image in item.CarImagesEntities)
                            {
                                <img src="@image.CarImageUrl" alt="car image"/>
                                break;
                            }
                        }
                        else
                        {
                            <img src="https://img.freepik.com/free-photo/empty-parking-lot-parking-lane-outdoor-public-park_1127-3374.jpg" alt="car image"/>
                        }
                    </td>
                    <td class="">@item.AdvertisementName</td>
                    @*<td class="">@item.AdvertisementDescription</td>*@
                    <td class="">@item.Price.ToString("#,#", CultureInfo.InvariantCulture).Replace(",", ".")</td>
                    @*<td class="">@item.CarDrivetrain</td>*@
                    @*<td class="">@item.EngineHorsePower</td>*@
                    @*<td class="">@item.EngineTorque</td>*@
                    <td class="">@item.EngineDisplacement</td>
                    <td class="">@item.TransmissionType</td>
                    <td class="">@item.MainClassificationEntityCarBrand</td>
                    <td class="">@item.MainClassificationEntityCarModel</td>
                    <td class="">@item.MainClassificationEntityCarPackage</td>
                    <td class="">@item.MainClassificationEntityCarYear</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script>
var array = @json;
array.forEach(carFeaturesId);

function carFeaturesId(item) {
    const row = document.getElementById(`row-${item}`);
    row.addEventListener("click", ()=> {
       //window.location.href = `/Home/Sale/${item}`; 
    });
}

function rowClick(id) {
    document.querySelector("a#CarDetailsHref_"+id).click();
}
</script>


<script>
function sortTable(columnIndex) {
    const table = document.getElementById('myTable');
    const rows = Array.from(table.querySelectorAll('tbody tr'));
    
    // Sıralama işlevini tanımlayın
    const sortFunction = (a, b) => {
        let aValue = a.cells[columnIndex].textContent;
        let bValue = b.cells[columnIndex].textContent;

        //Fiyat kısmındaki "." ları çıkarıp ayrıca karşılaştırmasını yaptım.
        if (columnIndex === 3) {
            aValue = aValue.split('.').join("");
            bValue = bValue.split('.').join("");
            
            if (Number(aValue) < Number(bValue)) {
                return -1;
            } else if (Number(aValue) > Number(bValue)) {
                return 1;
            } else {
                return 0;
            }
        }
        
        // Sıralama yöntemine göre karşılaştırma yapın
        if (aValue < bValue) {
            return -1;
        } else if (aValue > bValue) {
            return 1;
        } else {
            return 0;
        }
    };

    // Sıralama işlevini kullanarak satırları yeniden düzenleyin
    rows.sort(sortFunction);

    // Sıralama yönüne göre tersine çevirin (desc)
    if (table.querySelector('th:nth-child(' + (columnIndex) + ')').classList.contains('desc')) {
        rows.reverse();
        table.querySelector('th:nth-child(' + (columnIndex) + ')').classList.remove('desc');
    } else {
        table.querySelector('th:nth-child(' + (columnIndex) + ')').classList.add('desc');
    }

    table.querySelector('tbody').append(...rows); 
}
</script>